#diggers-box {
  margin: 10px 15px;
  border: solid black 1px;
  background-color: white;
}

#tabs {
  font-family: 'Open Sans', sans-serif;
}

img.down-arrow {
  height: 45px;
}

.tab-btn {
  margin: 0px 0px 20px 0px;
  background-color: white;
  height: 50px;
  border: none;
  border-left: 2px dotted #2f0000;
}

.tab-btn:last-child {
  border-right: 2px dotted #2f0000 ;
}

.tab-btn:hover {
  cursor: pointer;
}

.tab-btn-active {
  background-color: #2f0000;
  color: rgb(153 247 171)
}

.memoir-container {
  margin-top: 20px;
}

.btt {
  display:none;
  position: fixed;
  left: 0;
  top: 90%;
  border: 2px dotted #caba6c;
  background: white;
}

.memoir-content {
  display: none;
}
