#diggers-box {
  margin: 10px 15px;
  border: solid black 1px;
  background-color: white;
}

#tabs {
  /*float: none;*/
  /*font-family: 'Open Sans', sans-serif;*/
}

img.down-arrow {
  height: 45px !important;
}

.tab-btn {
  margin: 0px 0px 20px 0px;
  background-color: white;
  height: 50px;
  border: none;
  /*border-left: 2px dotted rgb(202 186 108);*/
}

.tab-btn:last-child {
  /*border-right: 2px dotted rgb(202 186 108) ;*/
}

.tab-btn:active {
  background-color: rgb(153 247 171);
  border: rgb(47 0 0);
}

.tab-btn:hover {
  cursor: pointer;
}

.memoir-container {
  margin-top: 20px;
  /*height: calc(100% - 100px);*/
}

.btt {
  display:none;
  position: fixed;
  left: 0;
  top: 90%;
  border: 2px dotted rgb(202 186 108);
  background: white;
}

.memoir-content {
  display: none;
}

.memoir-content p {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 21px;*/
}

.mem-row {
  margin-left: 20px !important;
}

