/*General CSS*/
body {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/*Header CSS*/

#brand {
  color: rgb(0 0 0);
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  background: rgb(153 247 171);
  font-size: 72px;
  padding-top: 5px;
  padding-left: 2px;
  font-family: 'Roboto', sans-serif;
}



.burgundy {
  /*background-color: rgb(47 0 0) !important;*/
}

#brand a {
  color: inherit;
  text-decoration: none;
}

#title-bar {
  height: 50px;
  padding-top: 10px;
  color: rgb(47 0 0);
  font-family: 'Roboto', sans-serif;
}

#header-nav {
  color: rgb(47 0 0);
  height: 50px;
  border-bottom: 1px rgb(211 201 201) solid;
  font-family: 'Open Sans', sans-serif;

}

.nav a {
  color: rgb(100 131 129);
  height: 50px;
}

/*.nav a:hover {
  color: white;
  text-decoration: none;
}*/

/*HOVER EFFECT*/
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(47 0 0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: rgb(153 247 171);
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*HOVER EFFECT*/

a.nav-link-active {
  color: rgb(47 0 0);
  padding: .5rem 1rem;
  line-height: 40px;
  /*background: #2098d1;*/
}

a.nav-link-active {
  text-decoration: none;
}

.main-content-box {
  display: none;
  background: rgb(47 0 0);
  padding: 20px;
  margin: 5px 0px;
}

.main-content-title {
  padding: 20px;
  margin: -20px 0px 0px -20px;
  color: rgb(202 186 108);
}

.title-box {
  background-color: rgb(47 0 0);
}

.background {
  background-color: gainsboro;
  padding: 20px 50px;
  min-height: 84vh;
}

@media (max-width: 426px) {
  .background {
    padding: 0px;
  }
}

.clickable-card {
  border: rgb(171 161 99) solid .5px;
  color: black;
  border-radius: 15px;
  padding-bottom: 12px;
  margin: 0px 6px;
  background-color: rgb(202 186 108);
  box-shadow: rgb(119 101 59) -2px 3px;
}

.no-style {
  color: black;
}

.clickable-card:hover {
  text-decoration: none;
}

#hero-img {
  height: 100% !important;
}

.img-frame{
  margin: auto;
  margin-left: 63px;
  height: 275px;
  border: black solid 1px;
}

#blurb {
  font-size: 16px;
}

/*li {
  border-left: 3px solid rgb(202 186 108);
}

li:last-child {
  border-right: 3px solid rgb(202 186 108);
}*/

.final {
  padding-bottom: 0px;
}

.down-arrow {
  height: 40px;
}

.see-more {
  position: relative;
  bottom: 5px;
}

/*Short Stories*/

.ss-box {
  background: white;
  padding: 15px;
  margin: 15px 15px;
  border: 2px solid rgb(2 2 2);
  border-radius: 3px;
}

.ss-box img {
  height: 100px;
  float: left;
  margin-right: 20px;
  border: 1px solid black;
}

.ss-box a {
  float: right
}

.ss-box p {
  font-size: 15px;
}

#fucked-p {
  margin-bottom: -7px;
}

.final {
  margin-bottom: 20px;
}


