/*General CSS*/
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/*Header CSS*/
#brand {
  background-color: rgb(0 0 0);
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  color: rgb(153 247 171);
  font-size: 4.5rem;
  padding-top: 5px;
  padding-left: 2px;
  /*text-shadow: 1px 1px 1px 1px rgb(100 131 129);*/
  font-family: 'Roboto', sans-serif;
}

.burgundy {
  background-color: rgb(47 0 0) !important;
}

#brand a {
  color: inherit;
  text-decoration: none;
}

#title-bar {
  height: 50px;
  padding-top: 10px;
  color: rgb(228 253 225);
  font-family: 'Roboto', sans-serif;
}

#header-nav {
  height: 50px;
  border-bottom: 1px rgb(47 0 0) solid;
  font-family: 'Open Sans', sans-serif;

}

.nav a {
  color: rgb(100 131 129);
}

.nav a:hover {
  color: white;
  text-decoration: none;
}

a.nav-link-active {
  color: rgb(153 247 171);
  /*margin: 0px 10px;*/
  padding: .5rem 1rem;
  line-height: 40px;
}

.main-content-box {
  background: rgb(47 0 0);
  padding: 20px;
  margin: 5px 0px;
}

.main-content-title {
  margin: -20px 0px 0px -20px;
  color: rgb(161 53 0);
}

.title-box {
  background-color: rgb(47 0 0);
}

.background {
  background-color: gainsboro;
  padding: 0px 50px;
  padding-top: 20px;
}

@media (max-width: 426px) {
  .background {
    padding: 0px;
  }
}

.clickable-card {
  border: rgb(171 161 99) solid .5px;
  color: black;
  border-radius: 15px;
  padding-bottom: 12px;
  margin: 0px 6px;
  background-color: rgb(202 186 108);
  box-shadow: rgb(119 101 59) -2px 3px;
}

.no-style {
  color: black;
}

.clickable-card:hover {
  text-decoration: none;
}

#hero-img {
  height: 100% !important;
}

.img-frame{
  margin: auto;
  margin-left: 63px;
  height: 275px;
  border: black solid 1px;
}

#blurb {
  font-size: 25px;
}

.memoir-content p {
  /*display: none;*/
  font-family: 'Open Sans', sans-serif;

}

li {
  border-left: 3px solid rgb(202 186 108);
}

li:last-child {
  border-right: 3px solid rgb(202 186 108);
}

.btt {
  position: fixed;
  left: 0;
  top: 50%;
}
