#brand {
  background-color: rgb(0 0 0);
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  color: rgb(202 186 108);
  font-size: 4.85rem;
  text-shadow: 1px 1px 1px 1px black
}

#title-bar {
  height: 50px;
}

#header-nav {
  height: 50px;
}

.card-img-top {
  overflow: show;
}

.main-content-box {
  background: rgb(47 0 0);
  padding: 20px;
  margin: 5px 0px;
}

.main-content-title {
  margin: -20px 0px 0px -20px;
  color: rgb(161 53 0);
}

.title-box {
  background-color: rgb(47 0 0);
}

.background {
  background-color: gainsboro;
  padding-left: 125px;
  padding-right: 125px;
}

@media (max-width: 426px) {
  .background {
    padding: 0px;
  }
}

.clickable-card {
  border: rgb(171 161 99) solid .5px;
  color: black;
  border-radius: 15px;
  padding-bottom: 12px;
  margin: 0px 6px;
  background-color: rgb(202 186 108);
  box-shadow: rgb(119 101 59) -2px 3px;
}

.no-style {
  color: black;
}

.clickable-card:hover {
  text-decoration: none;
}

.jumbotron {
  margin-top: 20px;
}

#hero-img {
  height: 100% !important;
}

.img-frame{
  margin: auto;
  margin-left: 63px;
  height: 275px;
  border: black solid 1px;
}

.jtext {
  float: right;
}


.ccimg {
  width: 100%;
}